In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Mangaratiba,BR,87.80,clear sky,-22.96,-44.04,Portobello Resort & Safari
1,7,Atar,MR,70.09,overcast clouds,20.52,-13.05,Oumou Elghoura
2,8,Sinnamary,GF,83.46,heavy intensity rain,5.38,-52.95,ALETHEIA Appartement Sinnamary
3,9,Najran,SA,73.40,scattered clouds,17.49,44.13,محمد هادي ال فطيح
4,11,San Rafael,AR,86.52,clear sky,-34.62,-68.33,Hotel San Rafael

In [12]:
start = vacation_df.loc[(vacation_df["City"]=="Mangaratiba")]
start

# student_data_df.loc[(student_data_df["grade"]=="9th")

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Mangaratiba,BR,87.8,clear sky,-22.96,-44.04,Portobello Resort & Safari